*, *:after, *:before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}




.Hero_image img{
    width: 100%;
}
.Navbar{
   width: 300px;
   height: 150px;

}
.flex{
    display: flex;
    justify-content: space-between;
    
}







/* ^^^^^^^^^ SARA ^^^^^^^^^^^^ */

